# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git

# other
.tmp

.env
config.db.js

# exclude everything
src/server/uploads/avatars/*
src/server/uploads/images/*

# exception to the rule
!src/server/uploads/avatars/.default_user.png
!src/server/uploads/images/.emptyfile
/build/
