<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>
<div class="page-container" ng-controller="editarComentarioController as vm">
    <form class="form-horizontal" role="form" id="form_editar_comentario" name="form_editar_comentario" style="margin: 0 10px 10px 10px;"><br>
        <div style="width: 100%;"  class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-pencil"></i> Editar Comentario</h6>
            </div>
            <div class="panel-body">
                <div class="block-inner">
                    <div id="contenido" name="contenido" summernote config="vm.options" ng-model="vm.comentario.contenido" on-image-upload="vm.imageUpload(files)" editable="editable" editor="editor" required></div>
                    <p><span class="text-danger" ng-show="form_editar_comentario.contenido.$error.required && (form_editar_comentario.contenido.$dirty || form_editar_comentario.contenido.$touched)">El campo es obligatorio</span></p>
                </div>
                <div class="form-actions text-right">
                    <a href="/tema?id={{ vm.tema }}" type="submit" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-primary" ng-click="vm.editar_comentario()" ng-disabled="form_editar_comentario.contenido.$invalid">Editar Comentario</button>
                </div>
            </div>
        </div>
    </form>
</div>