<div class="page-container" ng-controller="temaController as vm">
    <div class="form-horizontal"><br>
        <div style="width: 100%;"  class="panel panel-default">
            <div class="panel-body">
                <div class="row invoice-header">
                    <div class="col-sm-12">
                        <h2 class="titulo_tema">{{ vm.tema.titulo }}</h2>
                    </div>
                </div>
                <div class="contenido_tema">
                    <div class="clearfix info_user_tema">
                        <div class="chat-member">
                            <a href="#"><img class="avatar_autor" alt="" src="src/server/uploads/avatars/{{ vm.user.avatar }}"></a>
                            <h6><a href="#">{{ vm.tema.autor }}&nbsp;<span class="status status-success"></span></a></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="/enviar_mensaje?user={{vm.tema.autor}}&tema={{vm.tema.id}}" ng-disabled="vm.username == vm.tema.autor" class="btn btn-link btn-icon btn-xs" data-toggle="collapse" ><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs" ng-disabled="vm.username == vm.tema.autor"><i class="icon-bullhorn"></i></a>
                            <a href="#" ng-click="vm.sendRequest(vm.tema.autor)" ng-disabled="vm.username == vm.tema.autor" class="btn btn-link btn-icon btn-xs"><i class="icon-user-plus2"></i></a>
                        </div>
                    </div><hr>
                    <div class="form-group comentario_box">
                        <div class="col-md-9 contenido_comentario" ng-bind-html="vm.contentTema"></div>
                    </div>
                    <div class="form-actions text-right" >
                        <a href="/editar_tema?id={{ vm.tema.id }}" ng-show="vm.username == vm.tema.autor" class="btn btn-primary editar_tema">Editar</a>
                    </div>
                </div><br><br>
                <h2>COMENTARIOS</h2>
                <hr>
                <div class="comentario" ng-repeat="comentario in vm.coment">
                    <div class="clearfix info_user_tema">
                        <div class="chat-member">
                            <a href="#"><img class="avatar_comentario" alt="" src="src/server/uploads/avatars/{{ comentario.avatar }}"></a>
                            <h6><a href="#">{{ comentario.autor }}&nbsp;<span class="status status-success"></span></a></h6>
                        </div>
                        <div class="chat-actions">
                            <a href="/enviar_mensaje?user={{comentario.autor}}&tema={{vm.tema.id}}" ng-disabled="vm.username == comentario.autor" class="btn btn-link btn-icon btn-xs" data-toggle="collapse"><i class="icon-bubble3"></i></a>
                            <a href="#" class="btn btn-link btn-icon btn-xs" ng-disabled="vm.username == comentario.autor"><i class="icon-bullhorn"></i></a>
                            <a href="#" ng-click="vm.sendRequest(comentario.autor)" ng-disabled="vm.username == comentario.autor" class="btn btn-link btn-icon btn-xs"><i class="icon-user-plus2"></i></a>
                        </div>
                    </div>
                    <div class="form-group comentario_box">
                        <div class="col-md-9 contenido_comentario" ng-bind-html="comentario.contenido"></div>
                    </div>
                    <div class="form-actions text-right" >
                        <a href="/editar_comentario?id={{ comentario.comentario}}&tema={{vm.tema.id}}" ng-show="vm.username == comentario.autor" class="btn btn-primary editar_tema">Editar</a>
                    </div>
                </div><br>
            </div>
        </div>
        <div class="form-actions text-right" >
            <a href="/foros" type="submit" class="btn btn-danger">Volver</a>
            <a href="/nuevo_comentario?id={{ vm.tema.id }}" ng-disabled="!vm.username" class="btn btn-primary">Comentar</a>
        </div>
    </div>
</div>